*
{
    padding: 0;
    margin: 0;
}
body{
    background-color:white;
}

    

.kot{
    margin-left:10%;
    margin-right: 10%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
}
h2{
    font-style: italic;
    color: limegreen;
}


    
    

    
    